[Desktop Entry]
Comment=X-Plane Flight Simulator
Exec=xplane
GenericName=X-Plane
Icon=X-Plane-Remote
MimeType=
Name=X-Plane Flight Simulator
StartupNotify=true
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=desktop_kdebase
Categories=Education;
