cross-compile*
*.orig
*.deps
*.targets
*.o
moc_*.cpp
ui_*.h
qrc_*.cpp
*.user
*.user.*
*.kdev*
*.kate-swp
*EXAMPLE*
*~
*.bak
*.elf
*.hex
obj
bin
*.lst
*.autosave

.svn
.deps
*.cof

#eclipse project files
.cproject
.project

# special doc folders
Doc
archive
site

#archives
*.zip
*.rar
*.deb
*.tar.*

.settings
.DS_Store

.git

.idea
.vscode

*.pyc
.tags*

build-*

.history